APP_API_URL=http://3.15.63.191:7003
APP_API_URL_PORT=http://3.15.63.191:7003/api
EXPO_PUBLIC_APP_API_URL=http://3.15.63.191:7003
EXPO_PUBLIC_APP_API_URL_GLASSES=http://3.15.63.191:7006
EXPO_PUBLIC_REALTIME_AI_URL=http://vision-ai-service-env.eba-jfqhpms9.us-east-2.elasticbeanstalk.com
EXPO_PUBLIC_STREAMING_API_URL=http://3.15.63.191/api/streaming
EXPO_PUBLIC_LIVE_VISION_URL=http://3.15.63.191
EXPO_PUBLIC_GOOGLE_MAP_KEY=
